<% include("partials/header") %>


<h1>You fell in love with: <%= thingVar %> </h1>

<% if(thingVar.toLowerCase() === "rusty"){ %>
  <p>GOOD CHOICE, RUSTY IS THE BEST</p>
<% } %> 

<img src="https://soyunperro.com/wp-content/uploads/Posmky01.jpg" alt="">


<% include("partials/footer") %>