<%- include('partials/header') %>

<h1>Find out the weather!</h1>
<form action='/weather' method='GET'>
  <input type='text' name='city' placeholder='City'>
  <input type='text' name='country' placeholder='Country'>
<button type='submit'>Get Weather!</button>
</form>


<%- include('partials/footer') %>