<%- include('partials/header') %>
<link rel='stylesheet' type='text/css' href='/app.css'>
<div>
<h1>Find out the weather!</h1>
<form action='/weather' method='GET'>
  <input type='text' name='city' placeholder='City'>
  <input type='text' name='country' placeholder='Country'>
<button type='submit'>Get Weather!</button>
</form>
</div>

<%- include('partials/footer') %>